<table class="table">
  <thead>
    <tr data-hook="slider_locations_header">
      <th><%= t('spree_slider_locations.title') %></th>
    </tr>
  </thead>
  <tbody id='slider_locations'>
    <tr data-hook="slider_locations_row">
      <td>
        <%= f.field_container :slide_location, class: ['form-group'] do %>
          <%= f.label :slide_location_id, Spree.t(:location) %>
          <%= f.collection_select(:slide_location_ids, Spree::SlideLocation.all, :id, :name, { include_blank: Spree.t('match_choices.none') }, { class: 'select2', disabled: (cannot? :edit, Spree::SlideLocation) }) %>
          <%= f.error_message_on :slide_location %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<%#= link_to_add_fields t('spree_slider_locations.new_location'), "tbody#slider_locations" %>
<%= button_link_to t('spree_slider_locations.new_location'), 'javascript:;', {
      icon: 'add', 
      :'data-target' => 'tbody#slider_locations', 
      class: 'btn-success spree_add_fields' 
} %>
<br/><br/>