<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li>
      <p><%= button_link_to t('spree_slider.new_slide'), new_object_url, :icon => 'add', :id => 'admin_new_slide_link' %></p>
    </li>
  </ul>
  <br class="clear" />
</div>

<h1><%= t('spree_slider.title') %></h1>

<table class="index" id="listing_slides" data-hook>
  <thead>
    <tr data-hook="admin_slides_index_headers">
      <th><%= t(:name) %></th>
      <th data-hook="admin_slides_index_header_position"><%= t(:position) %></th>
      <th data-hook="admin_slides_index_header_actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @slides.each do |slide|%>
      <tr id="<%= dom_id slide %>" data-hook="admin_slides_index_rows">
        <td width="350px" ><%=link_to slide.name, object_url(slide) %></td>
        <td data-hook="admin_slides_index_position"><%= slide.position %></td>
        <td data-hook="admin_slides_index_row_actions">
          <%= link_to_edit slide, :class => 'edit' %> &nbsp;
          <%= link_to_delete slide %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
